body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    font-size: 2rem;
    color: white;
}

h1, main h2 {
    font-weight: 700;
    line-height: 1.5;
}

.poem p {
    font-style: italic;
    font-size: 1.5rem;
}

#mini {
    font-size: 1.5rem;
}

#infinity {
    font-size: 3rem;
}

footer p {
    font-size: 1rem;
    line-height: 1;
}

#lennyface {
    font-weight: 400;
}

#uwu-text {
    padding: 0;
    margin: 0;
}

header {
    background-color: #FF0068;
    margin: 0;
    padding: 1% 0;
}

main {
    background-color: #0995B3;
    padding: 6% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #FF0068;
    padding: 4% 3%;
}


a:hover {
text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: #0995B3;
}

.cupcake-image {
    width: 25%;
}

.cupcake, .btn-container {
    display: flex;
    justify-content: center;
    padding: 1% 0%;
}

.wish {
    padding: 1% 0%;
}

.song-container {
    margin: 1% auto;
}

.heart-icon {
    margin: 0 0.5%;
    color: #97c7f7;
}

@media (min-width: 767px) {
    main {
        padding: 3%;
    }

    h1, h2, h3, h4, h5, h6, p {
        font-size: 3.5rem;
    }

    h1, main h2 {
        font-weight: 900;
    }

    .poem p {
        font-size: 2.5rem;
    }

    #mini {
        font-size: 2rem;
    }
    
    #infinity {
        font-size: 4rem;
    }

    footer p{
        font-size: 1.5rem;
    }

    #lennyface {
        font-weight: 600;
    }

    .cupcake-image {
        width: 12%;
    }
}